<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
    <title>ADD</title>
</head>
<body>
<header th:replace="/admin/fragments/header :: header"></header>

<div class="main">
    <div th:replace="/admin/fragments/sidebar :: sidebar"></div>
    <div class="content" >
        <h2>Welcome to page admin !!!</h2>
    </div>
</div>
</div>
</body>
</html>