<footer class="footer" th:fragment="footer">
    <div class="my-info">
        <h5 class="title">PROJECT INFORMATION</h5>
        <p>Made by: Le Van Tan Thong</p>
        <p>Phone: (+84) 348-807-764</p>
        <p>Email: levantanthong.2602@gmail.com</p>
        <div class="icon">
            <img th:src="@{/assets/image/facebook-icon.png}" alt="" width="15px">
            <img th:src="@{/assets/image/twitter.png}" alt="" width="15px">
            <img th:src="@{/assets/image/instagram.png}" alt="" width="15px">
            <img th:src="@{/assets/image/youtube.png}" alt="" width="15px">
            <img th:src="@{/assets/image/spotify.png}" alt="" width="15px">
            <img th:src="@{/assets/image/discord.png}" alt="" width="15px">
            <img th:src="@{/assets/image/tik-tok.png}" alt="" width="15px">
        </div>
    </div>
    <div>
        <h5 class="title">DO YOU NEED HELP?</h5>
        <p>Call us 1-877-997-7232</p>
        <p>Write us on WhatsApp</p>
        <p>Chat with our Client Service</p>
        <p>Contacts</p>
        <p>FAQ</p>
        <p>Sitemap</p>
    </div>
    <div>
        <h5 class="title">EXCLUSIVE SERVICES</h5>
        <p>Prada Services</p>
        <p>Track your order</p>
        <p>Returns</p>
    </div>
    <div>
        <h5 class="title">COMPANY</h5>
        <p>Fondazione Prada</p>
        <p>Prada Group</p>
        <p>Luna Rossa</p>
        <p>Sustainability</p>
        <p>Work with us</p>
    </div>
    <div>
        <h5 class="title">LEGAL TERMS AND CONDITIONS</h5>
        <p>Legal Notice</p>
        <p>Privacy Statement</p>
        <p>Cookie Policy</p>
        <p>Terms of sale</p>
    </div>
</footer>