<div class="list-item" th:fragment="list-item">
    <img th:src="@{/assets/image/close.png}" alt="" width="14px" class="close">
    <div class="list">
        <div class="item">
            <img th:src="@{/assets/image/sp1/S1.avif}" alt="" width="85px">
            <div class="item-info">
                <h5>Embroidered sablé mini-dress</h5>
                <p>Black</p>
                <p>Qty: 1</p>
                <p style="display: flex; justify-content: flex-end;"><b>$ 3,300</b></p>
            </div>
        </div>
        <!-- Add more items as needed -->
    </div>
</div>